package signin

templ ProfilePage() {
	<h1>Sign In Page</h1>
	<form action="sign-in/authenticate" method="post">
		<label>Username: </label>
		<input type="text" name="userName"/>
		<br/>
		<label>Password: </label>
		<input type="text" name="password"/>
		<br/>
		<input type="submit" value="Submit">
	</form>
}
