package view

templ SignUpPage() {
	@Page() {
		<h1>Sign Up</h1>
		@SignUpFormSnippet()
	}
}

templ SignUpSuccessSnippet() {
	<p>Sign up successful!</p>
	<br/>
	<a href="/sign-in">Sign In</a>
}

templ SignUpFormSnippet() {
	<form hx-post="/sign-up" hx-swap="outerHTML">
		<label>Username: </label>
		<input type="text" name="userName"/>
		<br/>
		<label>Password: </label>
		<input type="text" name="password"/>
		<br/>
		<input type="submit" value="Submit"/>
	</form>
}
